/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid gre;
    text-align: left;
    padding: 8px;
} */

#table-header {
    background-color: #dddddd;
}

/* tr:nth-child(even) {
    background-color: #dddddd;
} */